APP_NAME=prigeesh-nnnn


//using typeORM with postgres database connection string
DATABASE_URL="db connection string here"

//OAUTH 2
GOOGLE_CLIENT_ID=your google client id here
GOOGLE_SECRET=your google secret here
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

JWT_SECRET=some-long-random-secret
JWT_EXPIRES_IN=1h

//our own JWT - AUTH
JWT_ACCESS_TOKEN_SECRET=some-long-random-access-secret
JWT_REFRESH_TOKEN=some-long-random-refresh-secret